<%= render "top_form" %>

<% if @filter_term %>
<p class="filter-notification notice">
  Searching users with "<%= @filter_term %>"
</p>

<table class="index-table" id="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.roles_names.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>

<div class="control-line medium-padding">
	<%= link_to 'Back', back_path %>
</div>
