<% content_for :css do %>
  <%= stylesheet_link_tag "user_form", media: "all" %>
<% end %>

<h2>My Profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>My Info</legend>
			<%= f.input :email do %>
				<span class="email-text"><%= resource.email %></span>
				<span class="hint">login</span>
			<% end %>
			<%= f.input :name, autofocus: true, hint: "required" %>
			<%= f.input :phone, placeholder: "(21)99999-9999", hint: "required" %>
			<%= f.input :company_id do %>
				<span class="company-id"><%= resource.company_name %></span>
			<% end %>
    </fieldset>

    <fieldset>
      <legend>My Roles</legend>
      <%= f.input :roles_ids, as: :roles_collection, available_roles: @roles, label: false %>
    </fieldset>

    <fieldset>
      <legend>Change Password</legend>
      <%= f.input :password, label: "New password", autocomplete: "off", hint: "required to change password" %>
      <%= f.input :password_confirmation, label: "New password confirmation", hint: "required to change password" %>
    </fieldset>

    <fieldset>
      <legend>Confirm</legend>
			<%= f.input :current_password, hint: "required to confirm updates" %>

      <div class="form-actions">
          <%= f.button :submit %>
      </div>
    </fieldset>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", back_path %>
