<% content_for :css do %>
  <style>
    .form-inputs legend {
      font-weight: bold;
    }
  </style>
<% end %>
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>My Info</legend>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :phone, required: true, placeholder: "(21)99999-9999" %>
    </fieldset>

    <fieldset>
      <legend>My Account</legend>
      <%= f.input :email, :required => true %>
			<%= f.input :password, required: true %>
			<%= f.input :password_confirmation, required: true %>
		</fieldset>

    <fieldset>
      <legend>My Roles</legend>
      <%= f.input :roles_ids, as: :roles_collection, available_roles: @roles, label: false %>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
