<%= simple_form_for(@incident, html: {id: "incident_form"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.input :company_id, collection: @companies, include_blank: "Public", label: "Restrict to company" %>

    <div class="actions">
      <%= f.submit "Register incident" %>
    </div>
  </div>
<% end %>
