<h1>Incidents List</h1>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Visibility</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.name, incident_cycles_path(incident) %></td>
        <td><%= cycle_closed_name incident.closed? %></td>
        <td><%= link_to 'Delete', incident, method: :delete, data: { confirm: 'Are you sure?' }, class: "anchor-button" %></td>
        <td><%= incident.visibility_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new Incident', new_incident_path, class: "anchor-button" %>
