<h1>Incidents List</h1>

<table class="index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Data de Criação</th>
      <th>Accessible by</th>
      <th></th>
      <% if current_user.in_admin_company? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.name, incident_cycles_path(incident) %></td>
        <td><%= cycle_closed_name incident.closed? %></td>
        <td><%= format_date incident.created_at %></td>
        <td><%= incident.visibility_name %></td>
        <td><%= link_to 'Delete', incident, method: :delete, data: { confirm: 'Are you sure?' }, class: "anchor-button" %></td>
        <% if current_user.in_admin_company? %>
          <td><%= link_to 'Edit', edit_incident_path(incident), class: "anchor-button" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new Incident', new_incident_path, class: "anchor-button" %>
