<% all_hidden = all_hidden || false %>
<div class="form-inputs">
  <% if all_hidden %>

    <div style="display:none">
      <%= f.input :number, as: :integer %>
      <%= f.input :from, as: :datetime %>
      <%= f.input :to, as: :datetime %>

      <%= render partial: "cycles/objectives_inputs", locals: {f: f, form202: form202} %>
      <%= f.input :priorities, as: :text, input_html: {cols: 100, rows: 10}, error: false %>
    </div>

  <% else %>

		<%= f.input :number, as: :integer, label: "Operational Period", disabled: true, input_html: {class: "disabled_cycle_number"} %>
    <%= f.input :number, as: :hidden %>
    <% if from_is_mandatory %>
      <%= f.input :from, as: :datetime, order: [:day, :month, :year], disabled: true, input_html: {class: "disabled_cycle_from"} %>
      <div style="display:none">
        <%= f.input :from, as: :datetime %>
      </div>
    <% else %>
      <%= f.input :from, as: :datetime, order: [:day, :month, :year] %>
    <% end %>
    <%= f.input :to, as: :datetime, order: [:day, :month, :year] %>

    <%= render partial: "cycles/objectives_inputs", locals: {f: f, form202: form202} %>
    <%= f.input :priorities,
      label: "Operational Period Command Emphasis",
      as: :text,
      input_html: {cols: 100, rows: 10},
      error: false, required: false %>

  <% end %>
</div>
