<% all_hidden = all_hidden || false %>
<div class="form-inputs">
  <% if all_hidden %>

    <div style="display:none">
    <%= f.input :number, as: :integer %>
    <%= f.input :from, as: :datetime %>
    <%= f.input :to, as: :datetime %>

    <%= objectives_text_input f, form202 %>
    <%= f.input :priorities, as: :text, input_html: {cols: 100, rows: 10} %>
  </div>

  <% else %>

    <%= f.input :number, as: :integer %>
    <%= f.input :from, as: :datetime %>
    <%= f.input :to, as: :datetime %>

    <%= objectives_text_input f, form202 %>
    <%= f.input :priorities, as: :text, input_html: {cols: 100, rows: 10} %>

  <% end %>
</div>
