<%- content_for :js do %>
  <script>
    LNX_INCIDENT_PLANNING.FROM_RAILS = {};
    LNX_INCIDENT_PLANNING.FROM_RAILS.current_incident_id = <%= @incident.id %>;
  </script>
	<%= javascript_include_tag :new_cycle %>
<% end -%>

<% content_for :css do %>
  <%= stylesheet_link_tag "cycles/new_cycle", media: "all" %>
  <%= stylesheet_link_tag "cycles/form", media: "all" %>
<% end -%>

<% if @last_cycle %>
  <% content_for :metatags do %>
    <meta name="restorable_cycle_objectives_text" content="<%= @last_cycle.objectives_texts %>" />
    <meta name="restorable_cycle_priorities" content="<%= @last_cycle.priorities %>" />
  <% end %>
<% end %>


<h2>Edit - <%= resource_name %></h2>

<%= notify_errors @cycle %>

<div class="incident-name">
	<strong>Incident Name:</strong>
	<%= link_to @incident.name, incident_cycles_path(@incident) %>
</div>

<%= simple_form_for([@incident, @cycle], html: {class: "confirm-form"}) do |f| %>
  <%= render partial: "cycles/form_inputs", locals: {f: f, form202: @cycle, from_is_mandatory: true} %>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to 'Back', back_path %>
