<%- content_for :css do %>
	<style>
		.incident-infos .info {
			float: left;
			margin-right: 20px;
		}

		#cycles {
			clear: left;
		}
	</style>
<% end -%>
<h1>Incident Operational Periods</h1>

<div class="incident-infos">
	<p class="info">
		<strong>Incident Name:</strong> <%= @incident.name %>
	</p>
	<p class="info">
		<strong>Initial Time:</strong> <%= @cycles.empty? ? "none" : format_date(@cycles.first.from) %>
	</p>
</div>

<table class="index-table" id="cycles">
  <thead>
    <tr>
      <th>Period</th>
      <th>From</th>
      <th>To</th>
      <th>Period Status</th>
      <th></th>
      <th>Objectives Status</th>
      <th></th>
      <th>Current Version</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cycles.each do |cycle| %>
      <tr>
        <td><%= cycle.number %></td>
        <td><%= format_date cycle.from %></td>
        <td><%= format_date cycle.to %></td>
        <td><%= cycle_closed_name cycle.closed %></td>
        <td><%= link_to 'Incident Objectives', incident_cycle_path(@incident, cycle) %></td>
        <td><%= cycle_approval_status_name cycle.approved? %></td>
        <td><%= link_to 'Work Analysis Matrix', incident_cycle_analysis_matrix_path(@incident, cycle) %></td>
        <td><%= cycle.current_version_number %></td>
        <td>
          <%= link_to 'Past Versions',
            index_incident_cycle_versions_path(@incident, cycle),
            class: (cycle.have_past_versions? ? "enabled" : "disabled") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operational Period', new_incident_cycle_path(@incident), class: "anchor-button" %>
<% if !@cycles.empty? %>
  <%= link_to 'Delete last cycle', incident_cycle_path(@incident, @cycles.last), method: "delete", class: "anchor-button" %>
<% end %>

<div class="control-line medium-padding">
	<%= link_to 'Back', back_path %>
</div>
