<%- content_for :css do %>
	<style>
		.incident-infos .info {
			float: left;
			margin-right: 20px;
		}

		#cycles {
			clear: left;
		}
	</style>
<% end -%>
<h1>Incident Cycles</h1>

<div class="incident-infos">
	<p class="info">
		<strong>Incident Name:</strong> <%= @incident.name %>
	</p>
	<p class="info">
		<strong>Initial Time:</strong> <%= @cycles.empty? ? "none" : format_date(@cycles.first.from) %>
	</p>
</div>

<table class="index-table" id="cycles">
  <thead>
    <tr>
      <th>Cycle</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cycles.each do |cycle| %>
      <tr>
        <td><%= cycle.number %></td>
        <td><%= format_date cycle.from %></td>
        <td><%= format_date cycle.to %></td>
        <td><%= cycle_closed_name cycle.closed %></td>
        <td><%= link_to 'Objectives', incident_cycle_path(@incident, cycle) %></td>
        <td><%= link_to 'Tactics Matrix', incident_cycle_analysis_matrix_path(@incident, cycle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycle', new_incident_cycle_path(@incident), class: "anchor-button" %>
<%= link_to 'Delete last cycle', incident_cycle_path(@incident, @incident.cycles.last), method: "delete", class: "anchor-button" %>

<div class="control-line medium-padding">
	<%= link_to 'Back', incidents_path %>
</div>
