<%- content_for :js do %>
	<%= javascript_include_tag :new_cycle %>
<% end -%>

<% content_for :metatags do %>
	<meta name="restorable_cycle_objectives_text" content="<%= @last_cycle.objectives_text %>" />
	<meta name="restorable_cycle_priorities" content="<%= @last_cycle.priorities %>" />
<% end %>


<h1>New Cycle - Incident Objectives</h1>

<div class="control-line">
	<strong>Incident:</strong> <span><%= @incident.name %></span>
</div>

<%= render 'form' %>

<%= link_to 'Back', incident_cycles_path(@incident) %>
