<%- content_for :js do %>
	<%= javascript_include_tag :new_cycle %>
<% end -%>

<% content_for :css do %>
  <%= stylesheet_link_tag "cycles/new_cycle", media: "all" %>
  <%= stylesheet_link_tag "cycles/form", media: "all" %>
<% end -%>

<% if @last_cycle %>
  <% content_for :metatags do %>
    <meta name="restorable_cycle_objectives_text" content="<%= @last_cycle.objectives_texts.to_json %>" />
    <meta name="restorable_cycle_priorities" content="<%= @last_cycle.priorities %>" />
  <% end %>
<% end %>


<h2>New Period - <%= resource_name %></h2>

<%= notify_errors @cycle %>

<div class="incident-name">
	<strong>Incident Name:</strong>
	<%= link_to @incident.name, incident_cycles_path(@incident) %>
</div>

<%= render partial: 'cycles/confirmation_form', locals: {form202: @cycle, from_is_mandatory: @from_is_mandatory} %>

<%= link_to 'Back', back_path %>
