<%= content_for :css do %>
	<style>
    .btn-approve-objectives,
    .btn-print,
    .form-btn-edit {
      float: left;
    }

		.back-link {
			display: inline-block;
		}

    .clear-float {
      clear: both;
    }

		.title-area h1,
		.title-area p {
			display: inline;
		}

		.title-area p {
			font-size: 0.9em;
			margin-left: 15px;
		}

		.title-area {
			margin-bottom: 15px;
		}
	</style>
<% end %>

<div class="title-area">
	<h1><%= resource_name %></h1>
	<p>
		Go To Form: <%= link_to "ICS 234", incident_cycle_analysis_matrix_path(@incident, @cycle) %>
	</p>
</div>

<%= render partial: "cycle", locals: {form202: @form202, incident: @incident} %>

<%= btn_link_to 'Print Draft',
  incident_cycle_path(@incident, @form202.cycle.id, format: :pdf),
  download: "download", class: "btn-print" %>

<% if !@cycle.closed? %>
	<% if current_user.can_approve_all_objectives_at_once? && !@cycle.approved? %>
		<%= form_tag incident_cycle_objectives_approvals_path(@incident, @cycle) do %>
			<button class="btn-approve-objectives" id="btn-approve-objectives">Approve all objectives</button>
		<% end -%>
	<% end -%>

  <%= btn_link_to 'Edit',
    edit_incident_cycle_path(@incident, @form202.cycle.id),
    class: "form-btn-edit" %>
<% end -%>

<div class="clear-float"></div>

<%= link_to 'Back', back_path, class: "back-link" %>
