<p id="notice"><%= notice %></p>

<p>
  <strong>Incident:</strong>
  <%= @cycle.incident_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cycle.number %>
</p>

<p>
  <strong>Current object:</strong>
  <%= @cycle.current_object %>
</p>

<p>
  <strong>From:</strong>
  <%= @cycle.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @cycle.to %>
</p>

<p>
  <strong>Priorities:</strong>
	<pre><%= @cycle.priorities %>	</pre>
</p>

<p>
  <strong>Objectives:</strong>
	<pre><%= @cycle.text_expressions.objectives.load.map(&:text).join("\n") %></pre>
</p>

<p>
  <strong>Closed:</strong>
  <%= @cycle.closed %>
</p>

<%= link_to 'Edit', edit_incident_cycle_path(@incident, @cycle) %> |
<%= link_to 'Back', incident_cycles_path %>
