<h1>Operational Period Versions</h1>

<%= render partial: "layouts/cycle_brief", locals: {cycle: @cycle, incident: @incident} %>

<table class="index-table" id="versions">
  <thead>
    <tr>
      <th>Number</th>
      <th>Creation Date</th>
      <th>ICS 202</th>
      <th>ICS 234</th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.number %></td>
        <td><%= format_date version.created_at %></td>
        <td><%= link_to 'Download PDF', ics202_incident_cycle_version_path(@incident, @cycle, version, format: :pdf) %></td>
        <td><%= link_to 'Download PDF', ics234_incident_cycle_version_path(@incident, @cycle, version, format: :pdf) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', back_path %>
