<%= content_for :js do %>
	<script>
		$(function() {
			$("input");
		});
	</script>
<% end %>
<%= simple_form_for(@reuse_configuration, url: reuse_configuration_path, method: :put) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :enabled, label: "Enable Reuse?", as: :boolean %>
    <%= f.input :user_filter, collection: @user_filter_options, as: :reuse_filter_collection %>
    <%= f.input :incident_filter, collection: @incident_filter_options, as: :reuse_filter_collection %>
    <%= f.input :date_filter, collection: 1..12, label: "Date filter (Months)" %>
    <%= f.input :reuse_hierarchy, label: "Reuse Hierarchy?", as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Configuration" %>
  </div>
<% end %>
