<% content_for :css do %>
  <style>
    .confirm-form, .cancel-form {
      display: inline-block;
      float: left;
      margin-right: 20px;
    }

    h2 {
      margin-top: 0;
    }

    .post-forms {
      clear: both;
    }
  </style>
<% end %>

<% content_for :metatags do %>
  <meta name="viewport" content="width=device-width" />
<% end %>

<h2>Confirmation - Incident Objectives</h2>

<%= render partial: "cycles/cycle", locals: {form202: @form202, incident: @incident} %>

<div class="float-container">
  <%= simple_form_for([@incident, @form202], html: {class: "confirm-form"}) do |f| %>
    <%= render partial: "cycles/form_inputs", locals: {f: f, form202: @form202, all_hidden: true} %>

    <div class="form-actions">
      <%= f.button :submit, "Confirm" %>
    </div>
  <% end %>

  <%= simple_form_for([@incident, @form202], url: new_incident_cycle_path(@incident), html: {class: "cancel-form"}) do |f| %>
    <%= render partial: "cycles/form_inputs", locals: {f: f, form202: @form202, all_hidden: true} %>

    <div class="form-actions">
      <%= f.button :submit, "Cancel" %>
    </div>
  <% end %>

  <div class="post-forms"></div>
<div>
