<div class="metadata">
	<p class="expression"><span class="label">Expression</span>: <%= text %></p>
  <p class="owner"><span class="label">Owner</span>: <%= owner_human_id %></p>
  <p class="source"><span class="label">Source</span>: <%= source %></p>
		<p class="status"><span class="label">Status</span>: <%= status %></p>

	<p class="label">Approvements</p>
	<div class="approvements">
		<% approvements.each do |approvement| %>
			<%= render partial: "approvement", locals: approvement %>
		<% end %>
	</div>

  <% if user_permitted_to_approve && !already_approved_by_user %>
		<%= form_for approval do |f| %>
			<%= f.hidden_field :expression_id %>
			<%= f.hidden_field :expression_type %>
			<button>Approve</button>
		<% end %>
	<% elsif already_approved_by_user %>
			<button disabled>Already Approved</button>
  <% end %>
</div>
