<div class="metadata">

  <%= render partial: "analysis_matrices/expression_errors.html.erb", locals: {errors: errors} %>

  <div class="metadata-section item-section">
	  <p class="metadata-label">Item Info</p>

    <p class="expression"><span class="label">Content</span>: <%= text %></p>
    <p class="owner"><span class="label">Owner</span>: <%= owner_human_id %></p>
<% if current_user.features_config.traceability? %>
    <p class="source"><span class="label">Source</span>: <%= source %></p>
		<p class="status"><span class="label">Status</span>: <%= status %></p>
<% end %>
  </div>

<% if current_user.features_config.traceability? %>
  <div class="metadata-section approvals-section">
    <p class="metadata-label">Approval Events</p>
    <ul class="approvals">
      <% approvals_infos.each do |approval_info| %>
        <%= render partial: "analysis_matrices/approval.html.erb", locals: approval_info %>
      <% end %>
    </ul>

    <% if user_permitted_to_approve && !already_approved_by_user %>
      <%= form_for approval, html: {class: "approve-form"} do |f| %>
        <%= f.hidden_field :expression_id %>
        <%= f.hidden_field :expression_type %>
        <%= f.hidden_field :positive, value: true %>
        <button>Approve</button>
      <% end %>

      <%= form_for approval, html: {class: "reject-form"} do |f| %>
        <%= f.hidden_field :expression_id %>
        <%= f.hidden_field :expression_type %>
        <%= f.hidden_field :positive, value: false %>
        <button>Reject</button>
      <% end %>
    <% elsif already_approved_by_user %>
        <button disabled>Approval Done</button>
    <% end %>
  </div>
<% end %>
</div>
