<td class="<%= reused_class %> <%= type_class %> <%= last_child_class %> <%= last_repetition_class %> <%= status_class %> show objective">
	<%= render partial: "expression_text", locals: {text: text} %>
	<%= metadata_partial %>
</td>
