<% expressions.each do |name, info| %>
  <td data-update_path="<%= update_path %>" data-delete_path="<%= delete_path %>" class="<%= info[:reused_class] %> <%= type_class %> <%= last_child_class %> <%= last_repetition_class %> <%= info[:status_class] %> strategy <%= name %> show <%= editable_class(editable) %>">
	  <%= render partial: "expression_text", locals: {text: info[:text]} %>
		<%= info[:metadata_partial] %>
	</td>
<% end %>
