<% expressions.each do |name, info| %>
  <td data-delete_path="<%= delete_path %>" data-update_path="<%= update_path %>" class="<%= type_class %> <%= last_child_class %> <%= last_repetition_class %> <%= info[:status_class] %> show tactic <%= name %> <%= editable_class(editable) %>">
	  <%= render partial: "expression_text", locals: {text: info[:text]} %>
		<%= info[:metadata_partial] %>
	</td>
<% end %>
