<td class="<%= repeated %> tactic who"><%= texts[:who] %></td>
<td class="<%= repeated %> tactic what"><%= texts[:what] %></td>
<td class="<%= repeated %> tactic where"><%= texts[:where] %></td>
<td class="<%= repeated %> tactic when"><%= texts[:when] %></td>
<td class="<%= repeated %> tactic response-action"><%= texts[:response_action] %></td>
