<% expressions.each do |name, info| %>
  <td data-delete_path="<%= delete_path %>"
    data-update_path="<%= update_path %>"
    data-expression-id="<%= info[:expression_id] %>"
    class="<%= group_classes %> <%= info[:exp_classes] %> show tactic <%= name %>">
    <div class="second-border">
      <%= render partial: "analysis_matrices/expression_text.html.erb", locals: {text: info[:text]} %>
      <%= info[:metadata_partial] %>
    </div>
	</td>
<% end %>
<td class="<%= group_classes %> criticality">
	<% if group %>
		<div id="criticality-of-<%= group.id %>" class="group-criticality" data-group-id="<%= group.id %>">
		<%= simple_fields_for group do |f| %>
			<%= f.input :criticality, collection: %w{L M H}, include_blank: false, label: false, disabled: (!can_edit_tactic? || in_group_mode?) %>
		<% end %>
		</div>
	<% end %>
</td>
