<%= simple_form_for [@incident, @cycle, @form234], url: incident_cycle_analysis_matrix_path do |f| %>
  <table>
    <thead>
      <tr>
        <th>Objectives</th>
        <th colspan="1">Strategies</th>
        <th colspan="4">Tatics</th>
      </tr>
      <tr>
        <th>Objective</th>
        <th>How</th>
        <th>Why</th>
        <th>Who</th>
        <th>What</th>
        <th>Where</th>
        <th>When</th>
        <th>Response Action</th>
      </tr>
    </thead>

    <tbody>
      <% each_row @matrix_data do |row| %>
        <tr>
          <%= row.objective_cells %>

          <%= row.strategy_cells %>

          <%= row.tactic_cells %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.input :name %>
<% end %>
