<% content_for :css do %>
	<%= wicked_pdf_stylesheet_link_tag "analysis_matrices/formpdf" %>
<% end %>

<% pdf_each_block @matrix_data do |rows|%>
<div class="form">
	<div class="first-line line">
		<div class="field form-fullname">
			<span class="main-title">Work Analysis Matrix</span>
    </div>

		<div class="field form-title">
			<span class="sub-title">ICS 234</span>
		</div>
  </div>

	<div class="second-line line">
		<div class="field incident-name">
			<span class="title">1. Incident Name</span>
			<span class="field-content"><%= @cycle.incident.name %></span>
		</div>

		<div class="field operational-period">
			<span class="title">2. Operational Period</span>
			<div class="field-footer">
				<div class="cycle-field">
					<span class="cycle-label">Number:</span>
					<span class="cycle-content"><%= @cycle.number %></span>
				</div>
				<div class="version-field">
					<span class="version-label">Version:</span>
					<span class="version-content"><%= @cycle.current_version_number %></span>
          <% if @draft %>
					  <span class="version-draft">(Draft)</span>
          <% end -%>
				</div>
				<div class="from-field">
					<span class="from-label">From:</span>
					<span class="from-content"><%= format_date @cycle.from %></span>
				</div>
				<div class="to-field">
					<span class="to-label">To:</span>
					<span class="to-content"><%= format_date @cycle.to %></span>
				</div>
			</div>
		</div>
	</div>

	<div class="matrix-headers line">
		<div class="field matrix-header objectives-header">
			<span class="title">3. Operation's Objectives</span>
			<span class="sub-title">Desired Outcome</span>
		</div>

		<div class="field matrix-header strategies-header">
			<span class="title">4. Optional Strategies</span>
			<span class="sub-title">How</span>
		</div>

		<div class="field matrix-header tactics-header">
			<span class="title">5. Tactics/Work Assignments</span>
			<span class="sub-title">Who, What, Where, When</span>
		</div>
	</div>


  <% rows.each do |row| %>
	<div class="matrix-cells line">
		<div class="field matrix-cell objectives-cell">
			<span class="field-content"><%= row.objective_cells.render %></span>
		</div>

		<div class="field matrix-cell strategies-cell">
			<span class="field-content"><%= row.strategy_cells.render %></span>
		</div>

		<div class="field matrix-cell tactics-cell">
			<span class="field-content"><%= row.tactic_cells.render %></span>
		</div>
	</div>
  <% end%>

	<div class="last-line line">
		<div class="field prepared-by-field">
			<span class="datetime-label">Date/Time</span>
			<span class="title">5. Prepared by: (<%= current_user.main_role.name %>)</span>
			<span class="datetime-value"><%= format_date(DateTime.now)%></span>
		</div>

		<div class="field approved-by-field">
			<span class="datetime-label">Date/Time</span>
			<span class="title">6. Approved by:</span>
		</div>
	</div>
</div>
<% end %>
