<% content_for :js do %>
  <%= javascript_include_tag "analysis_matrices", "data-turbolinks-track" => true %>

  <%= javascript_tag do %>
    LNX_INCIDENT_PLANNING.FROM_RAILS.AnalysisMatrix = {
      create_strategy_path: "<%= incident_cycle_strategies_path(@incident, @cycle) %>",
      create_tactic_path: "<%= incident_cycle_tactics_path(@incident, @cycle) %>"
    };
  <% end %>
<% end %>

<h1>Tactics Matrix</h1>

<table class="analysis-matrix" id="analysis-matrix">
  <thead>
    <tr>
      <th rowspan="2" class="header objective">Objectives</th>
      <th class="header strategy" colspan="<%= @strategy.expressions.size %>">Strategies</th>
      <th class="header tactic" colspan="<%= @tactic.expressions.size %>">Tatics</th>
    </tr>
    <tr>
      <% @strategy.expressions.each do |exp| %>
        <th class="header strategy"><%= exp.name %></th>
      <% end %>
      <% @tactic.expressions.each do |exp| %>
        <th class="header tactic"><%= exp.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% each_row(@matrix_data) do |row| %>
      <tr>
        <%= row.objective_cells.render %>

        <%= row.strategy_cells.render %>

        <%= row.tactic_cells.render %>
      </tr>
    <% end %>
  </tbody>
</table>
