<% content_for :js do %>
  <%= javascript_tag do %>
    LNX_INCIDENT_PLANNING.FROM_RAILS.AnalysisMatrix = {
      create_strategy_path: "<%= incident_cycle_strategies_path(@incident, @cycle) %>",
      create_tactic_path: "<%= incident_cycle_tactics_path(@incident, @cycle) %>"
    };

    LNX_INCIDENT_PLANNING.FROM_RAILS.Model = <%= raw ::Model.to_json %>;
    LNX_INCIDENT_PLANNING.FROM_RAILS.environment = <%= raw ::Rails.env.inspect %>;
    LNX_INCIDENT_PLANNING.FROM_RAILS.current_incident_id = <%= @incident.id %>;
  <% end %>

  <%= javascript_include_tag "analysis_matrices", "data-turbolinks-track" => true %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "analysis_matrices", media: "all" %>
  <%= stylesheet_link_tag "analysis_matrices_expression_colors", media: "all" %>
  <style>
    .btn-show-dialog {
      display: none;
    }

    .btn-publish, .btn-publish:hover {
      background-color: #5d5;
      border-top: #5c5 solid 4px;
      border-left: #5c5 solid 4px;
      border-bottom: #1b1 solid 4px;
      border-right: #1b1 solid 4px;
    }

		.btn-publish.have-errors,
		.btn-publish.have-errors:hover,
		.btn-issue-version.have-errors,
		.btn-issue-version.have-errors:hover,
		.btn-priorities.have-errors,
		.btn-priorities.have-errors:hover {
      background-color: #d55;
      border-top: #c55 solid 4px;
      border-left: #c55 solid 4px;
      border-bottom: #b11 solid 4px;
      border-right: #b11 solid 4px;
		}

		.general-errors {
			color: red;
		}

		.general-errors > p {
			font-size: 18px;
			font-weight: bold;
		}

		.title-area h1,
		.title-area p {
			display: inline;
		}

		.title-area p {
			font-size: 0.9em;
			margin-left: 30px;
		}

		.title-area .goto-label {
			font-weight: bold;
		}

		.title-area .goto-label:after {
			content: ":";
		}

		.title-area {
			margin-bottom: 15px;
		}
  </style>
<% end %>

<%= render partial: "analysis_matrices/objective_cant_be_edited" %>

<% if @notice_partial %>
  <p class="big-notice">
    <%= render partial: @notice_partial %>
  </p>
<% end -%>

<% if @general_errors && !@general_errors.empty? %>
<div class="general-errors">
	<p>Alert</p>
	<ul>
		<% @general_errors.each do |error| %>
			<li><%= error %></li>
		<% end -%>
	</ul>
</div>
<% end -%>

<div class="title-area">
	<h1><%= analysis_matrix_resource_name %></h1>
	<p>
		<span class="goto-label">Go To Form</span> <%= link_to "ICS 202", incident_cycle_path(@incident, @cycle) %>
	</p>
</div>

<%= render partial: "layouts/cycle_brief", locals: {cycle: @cycle, incident: @incident} %>

<div class="buttons-line"> 
  <%= render partial: "analysis_matrices/show_priorities", locals: {cycle: @cycle} %>

<% if show_delete_in_group_button? %>
  <%= btn_link_to "Delete in groups",
    group_deletion_incident_cycle_analysis_matrix_path(@incident, @cycle),
    btn_options: {class: "btn-delete-in-groups btn"} %>
<% end -%>

<% if show_approval_in_group_button? %>
  <%= btn_link_to "Approve in groups",
    group_approval_incident_cycle_analysis_matrix_path(@incident, @cycle),
    btn_options: {class: "btn-approve-in-groups btn"} %>
<% end %>

  <%= btn_link_to "Print Draft", 
    incident_cycle_analysis_matrix_path(@incident, @cycle, format: :pdf),
    class: "btn-download-pdf btn" %>

	<% if current_user.can_issue_version? %>
		<%= btn_link_to "Issue For Review", 
			create_incident_cycle_versions_path(@incident, @cycle),
			method: :post,
			btn_options: {
				class: "btn-issue-version btn #{version_errors? ? 'have-errors' : 'no-errors'}"
			}
			%>
	<% end %>

	<% if current_user.can_publish? %>
		<%= btn_link_to "Publish Final Plan",
			publish_incident_cycle_publishes_path(@incident, @cycle),
			method: :post,
			btn_options: {
				class: "btn-publish btn #{publish_errors? ? 'have-errors' : 'no-errors'}",
				confirm: (publish_errors? ? false : "Publishing the Final Plan will freeze the plan for this Operational Period, disallowing any further modification. Do you really want to Publish the Final Plan?")
			} %>
	<% end -%>

  <% if have_alarms %>
    <%= btn_link_to "Clear Alerts", 
      incident_cycle_analysis_matrix_path(@incident, @cycle),
      class: "btn-clear-alarms btn" %>
  <% end %>

</div>


<table class="analysis-matrix <%= current_user.features_config.thesis_tools? ? "thesis-on" : "thesis-off" %>" id="analysis-matrix">
  <thead id="amthead">
    <tr>
      <th rowspan="2" class="header objective">OBJECTIVES</th>
      <th class="header strategy" colspan="<%= @strategy.expressions.size %>">STRATEGIES</th>
      <th class="header tactic" colspan="<%= @tactic.expressions.size + 1 %>">TACTICS</th>
    </tr>
    <tr>
      <% @strategy.expressions.each do |exp| %>
        <th class="header strategy"><%= exp.human_name %></th>
      <% end %>
      <% @tactic.expressions.each do |exp| %>
        <th class="header tactic"><%= exp.human_name %></th>
      <% end %>
      <th class="header tactic criticality-header">Crit.</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="9" class="space-below-header"></td>
    </tr>
    <% each_row(@matrix_data) do |row| %>
      <tr>
        <%= row.objective_cells.render %>

        <%= row.strategy_cells.render %>

        <%= row.tactic_cells.render %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", back_path %>
