<% content_for :js do%>
  <%= javascript_include_tag "group_analysis_matrices", "data-turbolinks-track" => true %>
<% end %>

<% content_for :css do %>
  <%= stylesheet_link_tag "analysis_matrices", media: "all" %>
  <%= stylesheet_link_tag "analysis_matrices/group_approval", media: "all" %>
  <% if current_user.features_config.traceability? %>
    <%= stylesheet_link_tag "analysis_matrices_expression_colors", media: "all" %>
  <% end %>
<% end -%>

<h1><%= analysis_matrix_resource_name %></h1>

<%= render partial: "layouts/cycle_brief", locals: {cycle: @cycle, incident: @incident} %>

<%= form_tag group_deletion_path, method: :delete do %>
	<div class="buttons-line"> 
		<%= submit_tag "Delete all selected", class: "btn" %>
	</div>

  <table class="analysis-matrix" id="analysis-matrix">
    <thead>
      <tr>
        <th rowspan="2" class="header objective">OBJECTIVES</th>
        <th class="header strategy" colspan="<%= @strategy.expressions.size + 1 %>">STRATEGIES</th>
        <th class="header tactic" colspan="<%= @tactic.expressions.size + 2 %>">TACTICS</th>
      </tr>
      <tr>
        <th class="checkbox-cell header">XXX</th>
        <% @strategy.expressions.each do |exp| %>
          <th class="header strategy"><%= exp.human_name %></th>
        <% end %>
        <th class="checkbox-cell header">XXX</th>
        <% @tactic.expressions.each do |exp| %>
          <th class="header tactic"><%= exp.human_name %></th>
        <% end %>
				<th class="header tactic criticality-header">Crit.</th>
      </tr>
    </thead>

    <tbody>
			<tr>
				<td colspan="9" class="space-below-header"></td>
			</tr>
      <% each_row_for_group_approval(@matrix_data) do |row| %>
        <tr>
          <%= row.objective_cells.render %>

          <td class="checkbox-cell">
            <% if deletion_checkbox_for_strategy?(row) %>
              <%= check_box_tag "groups[]", row.strategy.strategy.group_id %>
            <% end -%>
          </td>
          <%= row.strategy_cells.render %>

          <td class="checkbox-cell">
            <% if deletion_checkbox_for_tactic?(row) %>
              <%= check_box_tag "groups[]", row.tactic.tactic.group_id %>
            <% end -%>
          </td>
          <%= row.tactic_cells.render %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Back", back_path %>
