<% content_for :js do %>
  <%= javascript_tag do %>
    LNX_INCIDENT_PLANNING.FROM_RAILS.AnalysisMatrix = {
      create_strategy_path: "<%= incident_cycle_strategies_path(@incident, @cycle) %>",
      create_tactic_path: "<%= incident_cycle_tactics_path(@incident, @cycle) %>"
    };

    LNX_INCIDENT_PLANNING.FROM_RAILS.Model = <%= raw ::Model.to_json %>;
    LNX_INCIDENT_PLANNING.FROM_RAILS.environment = <%= raw ::Rails.env.inspect %>;
  <% end %>

  <%= javascript_include_tag "analysis_matrices", "data-turbolinks-track" => true %>
<% end %>

<% content_for :css do %>
<style>
  .btn-show-dialog {
	  display: none;
  }
</style>
<% end %>

<h1>Tactics Planning Matrix</h1>

<%= render partial: "layouts/cycle_brief", locals: {cycle: @cycle, incident: @incident} %>

<%= render partial: "show_priorities", locals: {cycle: @cycle} %>

<table class="analysis-matrix" id="analysis-matrix">
  <thead>
    <tr>
      <th rowspan="2" class="header objective">OBJECTIVES</th>
      <th class="header strategy" colspan="<%= @strategy.expressions.size %>">STRATEGIES</th>
      <th class="header tactic" colspan="<%= @tactic.expressions.size %>">TACTICS</th>
    </tr>
    <tr>
      <% @strategy.expressions.each do |exp| %>
        <th class="header strategy"><%= exp.human_name %></th>
      <% end %>
      <% @tactic.expressions.each do |exp| %>
        <th class="header tactic"><%= exp.human_name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% each_row(@matrix_data) do |row| %>
      <tr>
        <%= row.objective_cells.render %>

        <%= row.strategy_cells.render %>

        <%= row.tactic_cells.render %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", back_path %>
