<% content_for :js  do%>
  <%= javascript_include_tag "group_analysis_matrices", "data-turbolinks-track" => true %>
<% end %>
<h1>Tactics Planning Matrix</h1>

<%= render partial: "layouts/cycle_brief", locals: {cycle: @cycle, incident: @incident} %>

<%= form_tag group_approval_path, method: :post do %>
  <%= submit_tag "Approve all selected" %>
  <table class="analysis-matrix" id="analysis-matrix">
    <thead>
      <tr>
        <th rowspan="2" class="checkbox-cell header objective">XXX</th>
        <th rowspan="2" class="header objective">OBJECTIVES</th>
        <th rowspan="2" class="checkbox-cell header strategy">XXX</th>
        <th class="header strategy" colspan="<%= @strategy.expressions.size %>">STRATEGIES</th>
        <th rowspan="2" class="checkbox-cell header tactic">XXX</th>
        <th class="header tactic" colspan="<%= @tactic.expressions.size %>">TACTICS</th>
      </tr>
      <tr>
        <% @strategy.expressions.each do |exp| %>
          <th class="header strategy"><%= exp.human_name %></th>
        <% end %>
        <% @tactic.expressions.each do |exp| %>
          <th class="header tactic"><%= exp.human_name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% each_row_for_group_approval(@matrix_data) do |row| %>
        <tr>
          <td class="checkbox-cell">
            <% if row.objective && row.objective.objective && !row.objective.repeated %>
              <%= check_box_tag "groups[]", row.objective.objective.group_id %>
            <% end -%>
          </td>
          <%= row.objective_cells.render %>

          <td class="checkbox-cell">
            <% if row.strategy.respond_to?(:strategy) && row.strategy.strategy && !row.strategy.repeated %>
              <%= check_box_tag "groups[]", row.strategy.strategy.group_id %>
            <% end -%>
          </td>
          <%= row.strategy_cells.render %>

          <td class="checkbox-cell">
            <% if row.tactic.respond_to?(:tactic) && row.tactic.tactic && !row.tactic.repeated %>
              <%= check_box_tag "groups[]", row.tactic.tactic.group_id %>
            <% end -%>
          </td>
          <%= row.tactic_cells.render %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Back", back_path %>
