<%= content_for :js do %>
	<script>
		$(function() {
			var $enabledCheckbox = $("input#reuse_configuration_enabled");
			var $configs = $("#enabled-configurations");
			$enabledCheckbox.change(toggleConfigs);
			toggleConfigs();

			function toggleConfigs() {
				var enabled = $enabledCheckbox.is(":checked");
				if (enabled) $configs.show();
				else $configs.hide();
			}
		});
	</script>
<% end %>

<%= content_for :css do %>
	<style>
		legend {
			font-weight: bold;
		}

		.filters h3 {
			padding: 0;
			margin: 0;
			margin-top: 15px;
			font-size: 1.1em;
		}

		.filters label:after {
			content: ":"
		}

		.filters div.select {
			display: inline-block;
		}

		fieldset, .form-actions {
			margin-bottom: 15px;
			display: inline-block;
			float: left;
			clear: both;
		}

		.clear-float {
			clear: both;
		}
	</style>
<% end %>

<%= simple_form_for(@features_config, url: features_config_path, method: :put) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<fieldset>
			<legend>Major Configurations</legend>
			<%= f.input :traceability, label: "Enable Traceability?", as: :boolean %>
			<%= f.input :authority_control, label: "Enable Authority Control?", as: :boolean %>
			<%= simple_fields_for @reuse_configuration do |f| %>
				<%= f.input :enabled, label: "Enable Reuse?", as: :boolean %>
			<% end %>
		</fieldset>

    <%= simple_fields_for @reuse_configuration do |f| %>
      <fieldset id="enabled-configurations">
				<legend>Reuse Configurations</legend>
        <%= f.input :reuse_hierarchy, label: "Reuse Hierarchy?", as: :boolean %>
				<div class="filters">
					<h3>Filters</h3>
					<%= f.input :user_filter, label: "By user", collection: @user_filter_options, as: :reuse_filter_collection %>
					<%= f.input :incident_filter, label: "By incident", collection: @incident_filter_options, as: :reuse_filter_collection %>
					<%= f.input :date_filter, label: "By date (Months)", collection: 1..12 %>
				</div>
      </fieldset>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Configuration" %>
  </div>
<% end %>

<div class="clear-float"></div>
