<%- content_for :css do %>
  <style>
		.cycle-brief .incident-name,
		.cycle-brief .cycle,
		.cycle-brief .status,
		.cycle-brief .version,
		.cycle-brief .from,
		.cycle-brief .to
		{
      float: left;
      margin-right: 20px;
			margin-top: 0;
			margin-bottom: 0;
    }

		.cycle-brief .from,
    .cycle-brief .brief-end
		{
      clear: left;
    }
  </style>
<% end -%>

<div class="cycle-brief">
	<p class="incident-name">
		<strong>Incident Name:</strong>
		<%= link_to incident.name, incident_cycles_path(incident) %>
	</p>

	<p class="cycle">
		<strong>Operational Period:</strong>
		<%= cycle.number %>
	</p>

	<p class="version">
		<strong>Current Version:</strong>
		<%= cycle.current_version_number %>
	</p>

	<p class="from">
		<strong>From:</strong>
		<%= format_date cycle.from %>
	</p>

	<p class="to">
		<strong>To:</strong>
		<%= format_date cycle.to %>
	</p>

	<p class="status">
		<strong>Status:</strong>
		<%= cycle_closed_name(cycle.closed) %>
	</p>

  <div class="brief-end"></div>
</div>
