<!DOCTYPE html>
<html>
<head>
  <title>IncidentPlanning</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= yield :css %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= yield :metatags %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1>Incident Planning System</h1>
		<nav class="main-nav">
			<ul>
				<%- if user_signed_in? %>
					<li><%= link_to "Incidents List", incidents_path %></li>
					<li><%= link_to "My Profile", edit_user_registration_path %></li>
					<li><%= link_to "Tool Config", edit_features_config_path %></li>
					<li><%= link_to "Search Users", profiles_path %></li>
					<li><%= link_to t("auth.logout"), destroy_user_session_path, method: :delete %></li>
          <li><%= current_user.human_id %></li>
					<% if current_user.in_admin_company? %>
						<li><%= link_to "Create user", new_user_registration_path %></li>
						<li><%= link_to "List users", admin_users_path %></li>
					<% end %>
				<% end -%>
			</ul>
		</nav>
	</header>

	<section class="main-content">
		<p class="notice"><%= @notice || flash[:notice] %></p>
		<p class="alert"><%= @alert || flash[:alert] %></p>

		<%= yield %>
	</section>

</body>
</html>
