<!DOCTYPE html>
<html>
<head>
  <title>IncidentPlanning</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :css %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav class="main-nav">
			<ul>
				<li><%= link_to "List of Incidents", incidents_path %></li>
				<%- if user_signed_in? %>
					<li><%= link_to t("auth.logout"), destroy_user_session_path, method: :delete %></li>
					<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
				<% else %>
					<li><%= link_to t("auth.login"), new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end -%>
			</ul>
		</nav>
	</header>

	<section class="main-content">
		<p class="notice"><%= flash[:notice] %></p>
		<p class="alert"><%= flash[:alert] %></p>

		<%= yield %>
	</section>

</body>
</html>
