<h1>Listing plannings</h1>

<table>
  <thead>
    <tr>
      <th>Incident name</th>
      <th>Priorities list</th>
      <th>From</th>
      <th>To</th>
      <th>Cycle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plannings.each do |planning| %>
      <tr>
        <td><%= planning.incident_name %></td>
        <td><%= planning.priorities_list %></td>
        <td><%= planning.from %></td>
        <td><%= planning.to %></td>
        <td><%= planning.cycle %></td>
        <td><%= link_to 'Show', planning %></td>
        <td><%= link_to 'Edit', edit_planning_path(planning) %></td>
        <td><%= link_to 'Destroy', planning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planning', new_planning_path %>
