<p id="notice"><%= notice %></p>

<p>
  <strong>Incident name:</strong>
  <%= @planning.incident_name %>
</p>

<p>
  <strong>Priorities list:</strong>
  <%= @planning.priorities_list %>
</p>

<p>
  <strong>From:</strong>
  <%= @planning.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @planning.to %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @planning.cycle %>
</p>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
